# ==============================
# OS files
# ==============================
.DS_Store

# ==============================
# Simulation / Icarus outputs
# ==============================
a.out
*.vcd
*.out
*.log

# ==============================
# Generated result files
# ==============================
register_file.txt
alu_results.txt
data_mem.txt

# ==============================
# Local scripts / executables
# ==============================
run
test
data_mem_test

# ==============================
# Editor files
# ==============================
.vscode/
